<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SCOPE</title>
    <!-- TODO: Add favicon -->
    <link rel="icon" type="image/png" href="/uploads/favicon.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <nav class="">
      <div class="container navBar">
        <div class="nav">
          <a href="/" class="navLogo">(LOGO)</a>
          <div class="navLinks">
            <img class="menuBtn" src="/assets/menu.svg" alt="menu" width="35px">
            <ul class="navList hide">
              <li><a href="/" class="navLink">Home</a></li>
              <li><a href="/about" class="navLink">About</a></li>
              <li><a href="/resources" class="navLink">Resources</a></li>
              <li><a href="/contact" class="navLink">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
