<% include partials/header %>
<main>
  <div class="container">
    <div class="landing">
      <div class="landingContent">
        <h1 class="title">Scope</h1>
        <h3 class="tagline">The Self-Compassion Online - Preventing Depression Trial</h3>
      </div>
    </div>

    <div class="quote">
      <h4>"Quote about the self-compassion intervention" - Dr. Shadi Beshai</h4>
    </div>

    <div class="grid">
      <div class="gridContent" id="topLeft">
      </div>
      <div class="gridContent" id="topRight">
        <h2>Project</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="#" class="learnButton">Learn More</a>
      </div>
      <div class="gridContent" id="bottomLeft">
        <h2>Am I Eligible?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="learnButton">Learn More</a>
      </div>
      <div class="gridContent" id="bottomRight">
      </div>
    </div>

    <div class="threeQuotes">
      <div class="">
        <img src="/assets/quote.svg" alt="quotationmark" class="quoteIcon">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="quoteAuthor">Dr. Lorem Ipsum</p>
        <p class="quoteTag">Mollit anim id est laborum.</p>
      </div>
      <div class="">
        <img src="/assets/quote.svg" alt="quotationmark" class="quoteIcon">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="quoteAuthor">Dr. Lorem Ipsum</p>
        <p class="quoteTag">Mollit anim id est laborum.</p>
      </div>
      <div class="">
        <img src="/assets/quote.svg" alt="quotationmark" class="quoteIcon">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p class="quoteAuthor">Dr. Lorem Ipsum</p>
        <p class="quoteTag">Mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="interested">
      <h2>Are you interested? </h2>
      <a href="#" class="applyButton">Apply Now</a>
    </div>
<% include partials/footer %>
